/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/04/2018, 23:41:17
    Author     : mateus
*/


footer {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
    background-color: #343a40;
    color: #fff;
}

.btn-outline-success {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
