.center {
	text-align: center;
	align-content: center;
	align-items: center;
}

#cadastroComprador input {
	width: 100%;
}

#cadastroComprador fieldset {
	border: 1px solid black;
	border-radius: 10px;
}

#cadastroComprador label {
	margin-bottom: 0;
}