@font-face {
	font-family: 'opensans';
	src: url('fonts/opensans/OpenSans-Regular.tff') format('tff');
	font-weight: normal;
	font-style: normal;
}

#pesquisaevento {
	font-family: 'opensans', sans-serif;
}

#pesquisaevento .center {
    text-align: center;
}

#pesquisaevento .row3 a{
    color: #000;
    text-decoration: none;
}

#pesquisaevento .row3 a:hover {
     color: #000; 
     text-decoration: none; 
     cursor: pointer;  
}

#pesquisaevento .rowslider img,
#pesquisaevento .row3 img {
	width: 100%;
}

#pesquisaevento .row3 .bt-pesquisar {
	text-transform: uppercase;
	font-size: 100%;
}

#pesquisaaevento span .data-evento {
	font-size: 30px;
}

#pesquisaevento .campo-pesquisa {
	width: 100%;
}

#pesquisaevento .grupo-1 {
	width: 70%;
	float: left;
}

#pesquisaevento .grupo-2 {
	width: 30%;
	float: left
}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}